<!-- begin ui-view -->
<div layout="column" layout-fill>
	<md-toolbar>
		<div class="md-toolbar-tools">
		  <span>testApp</span>
		  <!-- fill up the space between left and right area -->
		  <span flex></span>
		  <md-button ng-click="goToDashboard()">Dashboard</md-button>
		  <md-button ng-click="openLeftMenu()">Menu</md-button>
		  <md-button ng-click="doLogout()">Logout</md-button>
		</div>
	</md-toolbar>
	<md-sidenav md-component-id="left" class="md-sidenav-left">
	  <md-content>
	  	<md-card class="menuTitle md-whiteframe-z4">
	  		<p layout layout-align="center center">Menu</p>
	  	</md-card>
	  	<md-card ng-click="goToStreams()" class="md-whiteframe-z2">
	  		<p layout layout-align="center center">Manage Streams</p>
	  	</md-card>
	  	<md-card ng-click="goToCategories()" class="md-whiteframe-z2">
	  		<p layout layout-align="center center">Manage Categories</p>
	  	</md-card>
	  	<md-card ng-click="goToDashboard()" class="md-whiteframe-z2">
	  		<p layout layout-align="center center">Return to Dashboard</p>
	  	</md-card>
	  </md-content>
	</md-sidenav>
	<div layout="row" flex>
		<md-content flex offset="20" layout-padding>
			<md-card class="md-whiteframe-z4">
				<md-card-content layout layout-align="center center">
					<h2>Archives Flagged As Inappropriate</h2>
				</md-card-content>
			</md-card>
			<md-card class="md-whiteframe-z4" ng-repeat="archive in inappropriateArchives" flex>
				<md-card-content>
					<div layout="row" flex>
						<h2 layout layout-align="center center">Title: {{archive.name}}</h2>
					</div>
					<div layout="row" flex>
						<h4 layout layout-align="center center">Description: {{archive.description}}</h4>
					</div>
					<div layout="row" layout-align="center center" flex>
						<p>Download: <a ng-href="{{archive.url}}">{{archive.url}}</a></p>
					</div>
					<div layout="row" flex offset="75">
						<md-button class="md-raised md-primary" ng-click="deleteArchive(archive)" flex>Delete</md-button>
					</div>
				</md-card-content>
			</md-card>
		</md-content>
		<md-content flex="20" layout-padding></md-content>
	</div>
</div>
