<!-- begin ui-view -->
<div layout="column" layout-fill>
	<md-toolbar>
		<div class="md-toolbar-tools">
		  <span>GodsEye</span>
		  <!-- fill up the space between left and right area -->
		  <span flex></span>
		  <md-button ng-click="goToDashboard()">Dashboard</md-button>
		  <md-button ng-click="openLeftMenu()">Menu</md-button>
		  <md-button ng-click="doLogout()">Logout</md-button>
		</div>
	</md-toolbar>
	<md-sidenav md-component-id="left" class="md-sidenav-left">
	  <md-content>
	  	<md-card class="menuTitle md-whiteframe-z4">
	  		<p layout layout-align="center center"></p>
	  	</md-card>
	  	<md-card ng-click="goToArchives()" class="md-whiteframe-z2">
	  		<p layout layout-align="center center">Manage Archives</p>
	  	</md-card>
	  	<md-card ng-click="goToStreams()" class="md-whiteframe-z2">
	  		<p layout layout-align="center center">Manage Streams</p>
	  	</md-card>
	  	<md-card ng-click="goToCategories()" class="md-whiteframe-z2">
	  		<p layout layout-align="center center">Manage Categories</p>
	  	</md-card>
	  </md-content>
	</md-sidenav>
	<div layout="row">

	<md-content flex offset="5" layout-padding>

		<h2 layout layout-align="center center">Categories</h2>

		<!-- cards -->
		<md-card class="md-whiteframe-z4" ng-repeat="category in categories">
			<md-card-content>
				<div layout="row">
					<h3 layout layout-align="center center" flex>{{category.name}}</h3>
				</div>
				<div layout="row" flex offset="75">
					<md-button class="md-raised md-primary" ng-click="deleteCategory(category)" flex>Delete</md-button>
				</div>
			</md-card-content>
		</md-card>

	</md-content>

	<md-content flex="15" layout-padding></md-content>

	<md-content flex="35" layout-padding>
		
		<h2 layout layout-align="center center">Add Category</h2>

		<md-card class="md-whiteframe-z2">
		  <md-card-content>
		    <md-input-container flex>
		      <label>Name</label>
		      <input ng-model="category">
		    </md-input-container>
		    <md-input-container flex offset="75">
		      <md-button class="md-raised md-primary" ng-click="addCategory(category)">Save</md-button>
		    </md-input-container>
		  </md-card-content>
		</md-card>

	</md-content>

	<md-content flex="10" layout-padding></md-content>

	</div>
</div>
