<!-- begin ui-view -->
<div layout="column" layout-fill>
	<md-toolbar>
		<div class="md-toolbar-tools">
		  <span>testApp</span>
		  <!-- fill up the space between left and right area -->
		  <span flex></span>
		  <md-button ng-click="openLeftMenu()">Menu</md-button>
		  <md-button ng-click="doLogout()">Logout</md-button>
		</div>
	</md-toolbar>
	<md-sidenav md-component-id="left" class="md-sidenav-left">
	  <md-content>
	  	<md-card class="menuTitle md-whiteframe-z4">
	  		<p layout layout-align="center center">Menu</p>
	  	</md-card>
	  	<md-card ng-click="goToArchives()" class="md-whiteframe-z2">
	  		<p layout layout-align="center center">Manage Archives</p>
	  	</md-card>
	  	<md-card ng-click="goToStreams()" class="md-whiteframe-z2">
	  		<p layout layout-align="center center">Manage Streams</p>
	  	</md-card>
	  	<md-card ng-click="goToCategories()" class="md-whiteframe-z2">
	  		<p layout layout-align="center center">Manage Categories</p>
	  	</md-card>
	  </md-content>
	</md-sidenav>
	<div layout="row" flex>
		<md-content flex offset="30" layout-padding>
		  <md-card class="md-whiteframe-z4" flex>
		  	<md-card-content layout="row">
		  	  <h2 layout layout-align="center center" flex offset="30">Admin Controls</h2>
		  	  <p layout layout-align="center center" flex="30"></p>
		  	</md-card-content>
		  </md-card>
		</md-content>
		<md-content flex="30" layout-padding></md-content>
	</div>
	<div layout="row" flex>
		<md-content flex offset="30" layout-padding>
		  <md-card class="md-whiteframe-z4" flex>
		    <md-card-content layout="row">
				<md-button class="md-raised md-primary" flex="30" ng-click="goToArchives()">Archives</md-button>
				<md-button class="md-raised md-primary" flex="30" ng-click="goToStreams()">Streams</md-button>
				<md-button class="md-raised md-primary" flex="30" ng-click="goToCategories()">Categories</md-button>
		    </md-card-content>
		  </md-card>
		</md-content>
		<md-content flex="30" layout-padding></md-content>
	</div>
</div>
